.display-details {
  background-color: black;

  color: blanchedalmond;
}

.banniere {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
